<p>
  <b>Title:</b>
  <%= @series.title %>
</p>
<p>
  <b>Description:</b>
  <%= @series.description %>
</p>
<p>
  <b>Seasons count:</b>
  <%= @series.seasons_count %>
</p>

<p>
  <b>Capitles count:</b>
  <%= @series.capitles_count %>
</p>


<%= link_to 'Back', series_index_path %>
