<p>
  <b>Title:</b>
  <%= @serie.title %>
</p>
<p>
  <b>Description:</b>
  <%= @serie.description %>
</p>
<p>
  <b>Seasons count:</b>
  <%= @serie.seasons_count %>
</p>

<p>
  <b>Capitles count:</b>
  <%= @serie.capitles_count %>
</p>


<%= link_to 'Back', series_index_path %>
