<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Series</title>
    <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"></meta>
    <meta content="description" name="Seri.es Watch tons of TV"></meta>
    <meta content="keywords" name="tv show serie agenda favourite video"></meta>
    <meta content="author" name="burugogor"></meta>

    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <script>
      $(function() {
        window.fbAsyncInit = function() {
          FB.init({appId: '123164501100199', status: true, cookie: true, xfbml: true});
          FB.Event.subscribe('auth.sessionChange', function(response) {
            alert("Session " + response.status);
            $.ajax({
              url: "/user_sessions/",
              type: 'POST',
              data: response.session,
              success: function(){
                alert("User session created OK");
              }})
          });
          FB.Event.subscribe('auth.login', function(response) {
            //New user on site, notify it
            $.ajax({
              url: "/users/",
              type: 'POST',
              data: response.session,
              success: function(){
                alert("New User created OK");
              }})
          });
          FB.Event.subscribe('auth.statusChange', function(response) {
            alert("Status " + response.status);
          });

        };

        $('body').append('<div id="fb-root"></div>');

        $.getScript(document.location.protocol + '//static.ak.fbcdn.net/connect/en_US/core.debug.js');
      })
    </script>
    <div id="main_container" class="container">
      <%= header %>
      <%= stripes  %>
      <%= nav_menu %>
      <%= stripes  %>
      <div class="main">
        <%= yield %>
      </div>
      <%= footer %>
    </div>


  </body>
</html>
