<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @capitle.title %>
</p>

<p>
  <b>Serie:</b>
  <%= @capitle.serie %>
</p>

<p>
  <b>Season:</b>
  <%= @capitle.season %>
</p>

<p>
  <b>Order:</b>
  <%= @capitle.order %>
</p>


<%= link_to 'Edit', edit_capitle_path(@capitle) %> |
<%= link_to 'Back', capitles_path %>
