<div id="capitle_panel_container">
  <p><%= @serie.title %>: season <%= @capitle.season %>, capitle <%= @capitle.order %></p>
  <p><%= @capitle.title %> </p>

  <div id="capitle_content_container">
    <%=  capitle_content_header %>
    <div id="capitle_content_body">
     <% @capitle.videos.each do |video| %>
        <%= render :partial => 'capitle_video_content', :locals => {:video => video} %>
     <%  end %>
    </div>
  </div>
</div>